{{ define "main" }}
{{- $pages := .Pages }}
<div class="wrap pt-2 mt-2">
  {{ range $index, $p := $pages }}
    {{ $bg := partial "func/getImage" $p }}
    <article class="article mb-2">
      <a href="{{ $p.Permalink }}">
        <div class="article_thumb" style="background-image: url('{{ $bg }}');"></div>
        <div class="article_meta">
          <time class="post_date">{{ dateFormat "January 02, 2006" $p.Date }}</time>
          <h3 class="article_title">{{ $p.Title }}</h3>
          <div class="article_excerpt">
            <p>{{ truncate 120 $p.Summary }}</p>
          </div>
        </div>
      </a>
    </article>
  {{ end }}
</div>
{{ end }}
